In [13]:
import pandas as pd
import numpy as np
import os

os.chdir('/Users/samanthamoon/Desktop/DSAN 5000/dsan-5000-project-samjmoon/dsan-website/5000-website/data-cleaning')
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')

print(movies_df.head())
print(ratings_df.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [14]:
movie_ratings_df = pd.merge(movies_df, ratings_df, on='movieId')
#print(movie_ratings_df.head())

avg_ratings = movie_ratings_df.groupby('movieId')['rating'].mean()
#print(avg_ratings)

avg_ratings_df = avg_ratings.reset_index()
movie_ratings_df = movie_ratings_df.merge(avg_ratings_df, on='movieId', how='left')

movie_ratings_df = movie_ratings_df.rename(columns={'rating_y': 'avg_rating'})
print(movie_ratings_df.head())

   movieId             title                                       genres  \
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
3        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
4        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

   userId  rating_x   timestamp  avg_rating
0       1       4.0   964982703     3.92093
1       5       4.0   847434962     3.92093
2       7       4.5  1106635946     3.92093
3      15       2.5  1510577970     3.92093
4      17       4.5  1305696483     3.92093

In [15]:
movie_eda_df = movie_ratings_df

movie_eda_df['genres'] = movie_ratings_df['genres'].apply(lambda x: x.split('|'))

movie_eda_df = movie_eda_df.explode('genres')
movie_eda_df.reset_index(drop=True, inplace=True)

   movieId             title     genres  userId  rating_x  timestamp  \
0        1  Toy Story (1995)  Adventure       1       4.0  964982703
1        1  Toy Story (1995)  Animation       1       4.0  964982703
2        1  Toy Story (1995)   Children       1       4.0  964982703
3        1  Toy Story (1995)     Comedy       1       4.0  964982703
4        1  Toy Story (1995)    Fantasy       1       4.0  964982703

   avg_rating
0     3.92093
1     3.92093
2     3.92093
3     3.92093
4     3.92093

In [16]:
movie_eda_df.drop(columns=['timestamp'], inplace=True)

In [17]:
file_path = './movie_eda.csv' 
movie_eda_df.to_csv(file_path, index=False)

In [18]:
movie_eda_df.head()

   movieId             title     genres  userId  rating_x  avg_rating
0        1  Toy Story (1995)  Adventure       1       4.0     3.92093
1        1  Toy Story (1995)  Animation       1       4.0     3.92093
2        1  Toy Story (1995)   Children       1       4.0     3.92093
3        1  Toy Story (1995)     Comedy       1       4.0     3.92093
4        1  Toy Story (1995)    Fantasy       1       4.0     3.92093

In [3]:
movie_ratings_df.drop(columns=['genres', 'userId', 'rating_x', 'timestamp'], inplace=True)
movie_ratings_df.head()

   movieId             title  avg_rating
0        1  Toy Story (1995)     3.92093
1        1  Toy Story (1995)     3.92093
2        1  Toy Story (1995)     3.92093
3        1  Toy Story (1995)     3.92093
4        1  Toy Story (1995)     3.92093

In [4]:
movie_ratings_df = movie_ratings_df.drop_duplicates(subset=['movieId'])
num_rows = movie_ratings_df.shape[0]
print(num_rows)

9724

In [5]:
movie_ratings_df.head()

     movieId                               title  avg_rating
0          1                    Toy Story (1995)    3.920930
215        2                      Jumanji (1995)    3.431818
325        3             Grumpier Old Men (1995)    3.259615
377        4            Waiting to Exhale (1995)    2.357143
384        5  Father of the Bride Part II (1995)    3.071429

In [6]:
file_path = './movie_ratings_nb_cleaned.csv' 
movie_ratings_df.to_csv(file_path, index=False)